:root {
  --header-bg-color: #0a4caa;
  --main-bg-color: #02030e;
  --text-color: #f0f0f0;
  --footer-bg-color: #878e71;
}
* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
body {
  background-color: #02030e;
}
/*Header*/
header {
  background-color: var(--header-bg-color);
  display: grid;
  grid-template-columns: auto auto auto;
}
ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
li {
  display: inline;
}
nav a {
  text-decoration: none;
}
a:hover {
  transform: translateY(5px);
  color: coral;
}
/*Footer*/
footer {
  background-color: var(--footer-bg-color);
  height: 30px;
}
