:root {
  --header-bg-color: #0a4caa;
  --main-bg-color: #02030e;
  --text-color: #f0f0f0;
  --footer-bg-color: #878e71;
}
* {
  margin: 0;
  color: var(--text-color);
}
body {
  background-color: var(--main-bg-color);
}
.header-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  font-weight: 600;
  height: 45px;
}
.header-grid img {
  border-radius: 50%;
  margin: 7px 0 0 130px;
}
h1 {
  margin-left: 90%;
}
h1:hover {
  color: var(--footer-bg-color);
  box-shadow: 0 0 300px white;
}

nav ul {
  margin-top: 10px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}
nav ul li a:hover {
  transform: translateY(5px);
  color: var(--footer-bg-color);
}
section img {
  width: 150px;
  border-radius: 50%;
  margin: auto;
}
